/* latin */
@font-face {
    font-family: 'capsuularegular';
    src:  local('capsuularegular'),local('capsuularegular'), url('capsuula-webfont.woff2') format('woff2'),
         url('capsuula-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 	unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}